<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="store">
      <ion-icon name="star-half"></ion-icon>
      <ion-label>商城</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bank">
      <ion-icon name="create"></ion-icon>
      <ion-label>题库</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="course">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>课程</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mine">
      <ion-icon name="contact"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
