<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="close"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="paper"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon name="heart-empty"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon name="information-circle-outline"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon name="bug"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
